
/* GENERAL SETTINGS */

*{
	scroll-behavior: smooth;
	box-sizing: border-box;
}


@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.ttf');
}

body{
	background-color: #ffffff;
	color: #3f3f3f;
	font: 14px / 28px arial;
	font-family: 'Raleway';
}

h1{
	font-size: 52px;
	letter-spacing: 4px;
	margin-bottom: 20px;
}

h3{
	font-size: 16px;
	color: #500D16;
	transition: all .5s ease; 
}

.sectionHeader{
	background: #550D16;
	border-bottom: 6px solid #000000;
	height: 80px;
	color: #FFFFFF;
	display: inline-block;
	line-height: 80px;
	font-size: 24px;
	padding: 5px 40px;
	letter-spacing: 2px;
	margin-bottom: 20px; 
}

.sectionArea{
	padding: 80px 0;
}

/* GRID SETTINGS */

.container{
	width: 90%;
	margin: 0 auto;
	display: flex;
}

.featuresBody .container{
	justify-content: space-between;
} 

.col3{
	flex-grow: 1;
	width: 33.33%;
}

.engineBody .container{
	justify-content: space-between;
}

.col2{
	flex-grow: 1;
	width: 50%;
	padding: 20px;
}
/* HOME SETTINGS */

header .logo{
	margin-right: auto;
}

header .logo img{
	display: block;
	height: 70px;
}

.menu li{
	float: left;
}

.menu li a{
	padding: 27px 17px;
	display: block;
	text-decoration: none;
	letter-spacing: 2px;
	color: #333333;
	transition: all .5s ease;
}


.menu li:hover a{
	background: #500D16;
	color: #ffffff;
}

#mainSlider{
	height: 650px;
	background: url('../img/mainHome.jpg') center center no-repeat;
	background-size: cover;
}

.slider{
	width: 100%;
}

#mainCaption{
	height: 650px;
	background: rgb(0,0,0, .7); 
}
.caption{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #ffffff;
}

.featuresTop{
	text-align: center;
}

.item{
	padding: 10px 20px;
}

.zoom{
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.zoom img{
	display: block;
	width: 100%;
	height: auto;
	transition: all .5s ease;
}

.item .itemText{
	text-align: center;
	padding: 5px;
	border: 1px solid #500D16;
}

.item:hover .zoom img{
	transform: scale(1.25);
}

.item:hover h3{
	color: #ffffff;
}

.item:hover .itemText{
	background-color: #500D16;
	color: #ffffff;
	transition: all .5s ease; 
}

.btnDetails{
	color: #500d16;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #500d16;
	transition: all .5s ease;
}

.item:hover .btnDetails{
	color: #ffffff;
	border:1px solid #ffffff;
}

.itemText p{
	margin: 20px 0;
}

#parallax{
	background: linear-gradient(
				rgba(0,0,0, .7),
				rgba(0,0,0,.7)
				),
				url('../img/parallax.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#parallax p{
	color: #ffffff;
}

.engineTop{
	text-align: center;
}

.engineContainer{
	position: relative;
	width: 100%;
}

.imageOver{
	display: block;
	width: 100%;
	height: auto;
}

.engineOverlay{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(80,13,22,.7);
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.engineContainer:hover .engineOverlay{
	width: 100%;
}

.engineText{
	white-space: nowrap;
	color: #ffffff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.engineOverlay2{
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: rgba(80,13,22,.7);
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.engineContainer:hover .engineOverlay2{
	width: 100%;
	left: 0%;
}

footer{
	background-color: #500D16;
	text-align: center;
}

.footerItem{
	padding: 20px;
}

.footerItem img{
	height: 50px;
	opacity: .5s;
}

footer h3{
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 10px; 
}

footer .fab{
	font-size: 30px;
	color: #95a5a6;
	line-height: 50px;
	transition: .3s ease;
}

footer .fab:hover{
	color: #ffffff;
}

footer p{
	color: #95a5a6;
	line-height: 20px;
}

.footerLinks a{
	text-decoration: none;
	color: #95a5a6;
	letter-spacing: 2px;
	transition: .3s ease;
}

.footerLinks a:hover{
	color: #ffffff;
	text-decoration: underline;
}

.socialLinks li{
	display: inline-block;
	width: 50px;
	height: 50px;

}

/*CARS SETTINGS*/

#carsSlider{
	height: 250px;
	background: url('../img/slideImage2.jpg') center center no-repeat;
	background-size: cover;
}

#carsCaption{
	height: 250px;
	background: rgb(0,0,0, .7); 
}

#inspect{
	background-color: #f5f5f5;
}


.inspectTop{
	text-align: center;
}

.inspectBody .col2{
	display: flex;
}

.inspectImage{
	width: 40%;
}

.inspectImage img{
	width: 100%;
	height: auto;
}

.inspectText{
	width: 60%;
	padding-left: 10px;
}

.date{
	color: #333;
	font-size: 12px;
	font-style: italic;
}

h4{
	color: #550D16;
	font-size: 14px;
	font-weight: bold;
}

.inspectText a{
	float: right;
	text-decoration: none;
	color: #550D16;
}

.inspectText a:hover{
	text-decoration: underline;
}

.projectXTop{
	text-align: center;
}

#projectX .containerFluid{
	height: 500px;
	background: url('../img/projectx.jpg') center center no-repeat;
	background-size: cover;
}

.captionPX{
	display: flex;
	background: rgba(0,0,0,.8);
	width: 100%;
	height: 500px;
}

.projextXInfo{
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: 5%;
	padding-right: 5%;
	transform: translate(-50%,-50%);
}

.projectXTitle{
	font-size: 24px;
	letter-spacing:2px;
	margin-bottom: 20px;
}

.projectXBTN{
	background-color: #500D16;
	color: #ffffff;
	padding: 20px 40px;
	border:none;
	margin-top: 20px;
	transition: all .5s ease;
	cursor: pointer;

}

.projectXBTN:hover{
	background-color: #ffffff;
	color: #500D16;
}

.projectXText{
	color: #ffffff;
}

.projectXHighlight{
	display: inline-block;
	background-color: #500D16;
	padding:30px; 
}

.containerFluid .col2{
	padding: 0;
}

.projectXDetail li{
	color: #ffffff;
}

/* ABOUT SETTINGS */

#aboutSlider{
	height: 250px;
	background: url('../img/slideImage3.jpg') center center no-repeat;
	background-size: cover;
}

#aboutCaption{
	height: 250px;
	background: rgb(0,0,0, .7); 
}

#ourHistory{
	background-color: #f5f5f5;
}

.ourHistoryTop{
	text-align: center;
}

.ourHistoryBody .containerFluid{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.ourHistoryBody .col2{
	display: flex;
}

.ourHistoryDate{
	flex: 1;
	text-align: center;
	background-color: #550D16;
	color: #ffffff;
}

.ourHistoryDate p{
	font-size: 30px;
	letter-spacing: 2px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ourHistoryImage{
	flex: 2;
}

.ourHistoryImage img{
	width: 100%;
	height: 100%;
}

.ourHistoryText{
	flex: 3;
	margin-left: 10px;
}

.ourHistory p{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.teamTop{
	text-align: center;
}

.teamBody .containerFluid{
	display:flex;
	width: 100%; 
}

.teamMember{
	position: relative;
	width: 100%;
}

.teamMemberImg{
	display: block;
	width: 100%;
	height: 100%;
}

.teamMemberOverlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	background-color: #550D16;
	transition: .5s ease;
}

.teamMember:hover .teamMemberOverlay{
	opacity: 0;
}

.teamMember:hover .teamMemberInfo{
	color: #ffffff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.teamTitle{
		color: #ffffff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.teamMemberInfo{
	color: #ffffff;
	background-color: rgba(80, 13, 22, .7);
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: .5s ease;
	padding: 20px;
	text-align: center;
}

.memberSocialLinks{
	text-align: center;
}

.memberSocialLinks li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.memberSocialLinks .fab{
	color: #ffffff;
}

/* CONTACT SETTINGS */

#contactSlider{
	height: 250px;
	background: url('../img/contact.jpg') center center no-repeat;
	background-size: cover;
}

#contactCaption{
	height: 250px;
	background: rgb(0,0,0, .7); 
}

#gallery{
	background-color: #f5f5f5;
}

.galleryTop{
	text-align: center;
}

.gallerySlider{
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
.gallerySliderItem{
	width: 300%;
	position: relative;
	left: 0;
	animation: slideAnimation 30s infinite;
}

.gallerySliderItem img{
	width: 33.33%;
	float: left;
	height: auto;
}

@keyframes slideAnimation{
	0%{left: 0;}
	25%{left: -100%}
	50%{left: -200%;}
	75%{left: -100%;}
	0%{left: 0;}
}

.contactTop{
	text-align: center;
}

.wrapper{
	margin: 0 auto;
	width: 100%;
}

.contactForm{
	margin: 0 auto;
	width: 60%;
}

.formItem{
	margin-bottom: 10px;
	width: 100%;
}

.formShape{
	color: #ffffff;
	float: left;
	background-color: #550D16;
	padding: 10px 5px;
	width: 10%;
	text-align: center;
	display: block;
}

.formField{
	color: #ffffff;
	background-color: #550d16;
	border:none;
	padding: 15.5px;
	width: 100%;
	display: block;
	font-size: 14px;
}

.formBtn{
	display: block;
	border:none;
	cursor: pointer;
	background-color: #550D16;
	color: #ffffff;
	padding: 12px 25px;
	text-decoration: none;
	font-weight: bold;
	float: right;
}

.formBtn:hover{
	background-color: #841916;
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px){
	.caption h1{
		font-size: 32px;
	}
	.footerItem h3{
		font-size: 14px;
	}
	footer .fa{
		font-size: 24px;
	}

	.inspectBody .container{
	flex-direction: column;
	}

	.inspectBody .col2{
	width: 100%;
	}

	.ourHistoryBody .col2{
		flex-direction: column;
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 720px){
	
	header .container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	header .logo{
		margin: 0 auto;
		margin-top: 10px;
	}

	.caption h1{
		font-size: 28px;
	}

	.featuresBody .container{
		flex-direction: column;
	}
	
	.featuresBody .col3{
		width: 80%;
		margin: 0 auto;
	}

	.engineBody .container{
		flex-direction: column;
	}

	.engineBody .col2{
		width: 80%;
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
	}

	footer .container{
		flex-direction: column;
	}

	footer .col3{
		width: 100%;
	}

	.sectionHeader{
		font-size: 18px;
	}

	.inspectBody .container .col2{
		padding-left: 0;
		padding-right: 0;
	}

	.teamMemberInfo{
		font-size: 14px;
		padding: 10px;
	}

	.teamTitle{
		font-size: 14px;
	}

	.formShape{
		display: none;
	}
}

@media screen and (max-width: 540px){

	.caption h1{
		font-size: 24px;
	}

	.caption p{
		font-size: 15px;
	}

	.engineBody .col2{
		width: 100%;
	}

	.sectionHeader{
		font-size: 20px;
	}

	.ourHistoryBody .ourHistoryDate p{
		font-size: 18px;
	}

	.teamMemberInfo{
		font-size: 12px;
	}

	.teamTitle{
		font-size: 12px;
	}

	.contactForm{
		width: 80%;
	}
}